body {
    background-image: url('https://coolbackgrounds.io/images/backgrounds/black/pure-black-background-f82588d3.jpg');
    color: blue;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #262626;
}
